 
 <!-- <form [formGroup]="forgetPasswordForm" >
  <div class="container-fluid">
   <div class="card">  

     <div class="card-content">
      <h1 class="fs-2">Forgot  Password</h1>  
        <p>Please enter the email address you'd like your password reset information sent to.</p>
         <label>Enter Email address</label>
        <input class="box" type="email" placeholder="Enter email address" formControlName="email"/>  

          <button class="box1 btn btn-dark w-100"  type="submit" (click)="onSubmit()">Request Reset Link</button>

      <a class="address text-center" href="" > Back To Login</a> 
    </div> 
  </div>
 </div> 
</form>   -->
<div class="signin-card">


  <mat-card class="card-l">
    <img src="./assets/Joprodexcourier.png" alt="" ><br>
    <h1 class="fs-2">Forgot  Password</h1>  
    <p>Please enter the email address you'd like your password reset information sent to.</p>
     <label>Enter Email address</label>
    <input class="box" type="email" placeholder="Enter email address" formControlName="email"/>  

      <button class="box1 btn btn-dark w-100"  type="submit" (click)="onSubmit()">Request Reset Link</button>

  <a class="address text-center" href="" > Back To Login</a> 
    
    
    </mat-card>
  
  
  </div>

