.grid-container {
  margin: 20px;
}
.card{
  width: 300px;
  height: 200px
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.dashboard-content{
  font-size: 15px;
}
.dashboard-card-content {
  text-align: start;
  font-size: 50px;
  padding: 5%;
}

.sidenav{
 width: 250px;
 z-index: 2;
 background-color: #fafafa;
 font-family: 'Poppins', sans-serif;
 color: white;
}
.nav{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 20px;
  width: 200px;
}
.example-card {
 width: 200px;
 height: 200px;
  margin-bottom: 8px;
  background: whitesmoke;
}
.example-card1 {
  width: 400px;
  height: 200px;
   margin-bottom: 8px;
   background: whitesmoke;
 }
 .example-card2 {
  width: 400px;
  height: 200px;
   margin-bottom: 8px;
  
 }
 .example-card3 {
  width:100%;

  margin-bottom: 8px;
  background: whitesmoke;
 }
.home-card-p{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 20px;
  padding-top: 15%;
}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

/* Hide the dropdown content by default */

.container-company{
  display: flex;
  align-items: center;
  justify-content: center;
 

}
.company-name{
  font-size: 14px;
  font-weight: bold;
  color: rgb(29, 29, 83);
}
.company{
  font-size: 16px;
  color: darkcyan;
}
.company-container{
  display: flex;
  align-items: center;
  justify-content: center;
 

}


